@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('http://fonts.cdnfonts.com/css/molot');
@import url("https://codedotspectra.github.io/themes/core/badges.css");
@import url("https://codedotspectra.github.io/themes/core/custom-font.css");
@import url("https://codedotspectra.github.io/themes/core/hljs.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://codedotspectra.github.io/themes/core/settings-icons.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");
:root {
	--rs-small-spacing: 2px;
	/* Gap between avatar and status for members list/dms | MUST end in px */
	--rs-medium-spacing: 3px;
	/* Gap between avatar and status for User popout | MUST end in px */
	--rs-large-spacing: 4px;
	/* Gap between avatar and status for User profiles | MUST end in px */
	--rs-small-width: 2px;
	/* Thickness of status border for members list/dms | MUST end in px */
	--rs-medium-width: 3px;
	/* Thickness of status border for User popout | MUST end in px */
	--rs-large-width: 4px;
	/* Thickness of status border for User profile | MUST end in px */
	--rs-avatar-shape: 50%;
	/* 50% for round - 0% for square */
	--rs-online-color: #43b581;
	/* Colour for online status */
	--rs-idle-color: #faa61a;
	/* Colour for idle status */
	--rs-dnd-color: #f04747;
	/* Colour for dnd status */
	--rs-offline-color: #636b75;
	/* Colour for offline status */
	--rs-streaming-color: #643da7;
	/* Colour for streaming status */
	--rs-invisible-color: #747f8d;
	/* Colour for invisible status - Note: this will only show for your own invisibility */
	--rs-phone-color: var(--rs-online-color);
	/* Colour of the ring and phone icon when a user is on their phone |  */
	--rs-phone-visible: block;
	/* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}


/*---------------------------------------- BACKGROUND ----------------------------------------*/

body {
	background: url("https://cdn.discordapp.com/attachments/622572402605293573/632100752214458368/Konachan.com_-_289931_armor_blue_eyes_bow_weapon_brown_hair_fuu_fuore_japanese_clothes_long_hair_ori.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.appMount-3lHmkl {
	background: rgba(0, 0, 0, .6);
}


/*---------------------------------------- REMOVE DARK & WHITE THEME BACKGROUNDS ----------------------------------------*/

.theme-dark,
.theme-light {
	--background-message-hover: rgba(0, 0, 0, 0);
	--header-primary: #fff;
	--header-secondary: #b9bbbe;
	--text-normal: #dcddde;
	--text-muted: #9d9d9d;
	--channels-default: #8e9297;
	--interactive-normal: #b9bbbe;
	--interactive-hover: #dcddde;
	--interactive-active: #fff;
	--interactive-muted: #4f545c;
	--background-primary: transparent;
	--background-secondary: transparent;
	--background-tertiary: transparent;
	--background-accent: transparent;
	--background-floating: rgba(0, 0, 0, .8);
	--activity-card-background: transparent;
	--deprecated-panel-background: transparent
}


/*---------------------------------------- SLIDE IN AND OUT ANIMATION ----------------------------------------*/


/* CHANNELS/DMS */

div.sidebar-2K8pFh {
	opacity: 0;
	width: 40px;
	-webkit-transition: opacity 0.3s ease-in-out, width 0.5s;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}

div.sidebar-2K8pFh:hover {
	opacity: 1;
	width: 250px;
}


/* MEMBER LIST */

[class|=membersWrap] {
	opacity: 0;
	width: 10px;
	min-width: 40px;
	-webkit-transition: opacity 0.3s ease-in-out, width 0.5s;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}

[class|=membersWrap]:hover {
	opacity: 1;
	width: 240px;
}

.members-1998pB {
	opacity: 0;
	width: 40px;
	-webkit-transition: opacity 0.3s ease-in-out, width 0.5s;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}

.members-1998pB:hover {
	opacity: 1;
	width: 240px;
}


/*---------------------------------------- VOICE/VIDEO CALL WINDOW TRANSPARENVY ----------------------------------------*/

.video-1FfuMD {
	background: rgba(0, 0, 0, .35);
}

.theme-light .video-1FfuMD.minimum-1pRSEN {
	background: #000000;
	background: rgba(0, 0, 0, .35);
}

.theme-light .wrapper-29NfPK,
.theme-dark .wrapper-29NfPK {
	background: rgba(0, 0, 0, 0);
}

.video-1kutKI {
	background-color: rgba(0, 0, 0, 0);
}


/*---------------------------------------- CHANGES "JUMP TO PRESENT" BAR TO LIGHT BLUE (JUST LIKE THE "NEW MESSAGE" BAR) ----------------------------------------*/

.jumpToPresentBar-9P20AM {
	background-color: rgba(114, 137, 218, 1);
}


/*---------------------------------------- REMOVALS ----------------------------------------*/


/* PROFILE TAB BORDER ABOVE MESSAGE BOX */

.footer-1fjuF6 {
	border-top: 0 solid;
}


/* WHITE THEME TAG/PING BACKGROUND */

.theme-light .wrapper-3WhCwL {
	background-color: rgba(114, 137, 218, .1);
	border-radius: 4px
}


/* BORDERS BETWEEN CHAT MESSAGES */

.divider-32i8lo {
	opacity: 0;
}


/* VIDEO CALL BLACK BORDER */

.videoBackgroundWrapper-2dCt49 {
	background-color: rgba(0, 0, 0, 0);
}


/* PROFILE POPUP MESSAGE BOX BORDER */

.quickMessage-2XpSaN {
	border: 0px solid #dcddde;
}


/* PROFILE POPUP BORDER */

.theme-light .userPopout-3XzG_A,
.theme-dark .userPopout-3XzG_A {
	-webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0), 0 0 0 1px rgba(0, 0, 0, 0);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0), 0 0 0 1px rgba(0, 0, 0, 0);
}


/*---------------------------------------- CODE BLOCK RECOLOR ----------------------------------------*/

.markup-2BOw-j code {
	background-color: #35383e;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.50);
	box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.50);
	border: 1px solid rgba(0, 0, 0, .22);
}


/*---------------------------------------- BORDER ADDITIONS ----------------------------------------*/


/* PROFILE TAB TOP */

.container-3baos1 {
	border-top: 1px solid rgba(255, 255, 255, .06);
}


/* SERVER BAR BORDER */

.guilds-1SWlCJ {
	border-right: 2px solid rgba(255, 255, 255, .06);
}


/* VOICE CALL TAB TOP AND RIGHT AND BOTTOM */

.container-1giJp5 {
	border-bottom: 1px solid var(--background-modifier-accent);
	border-top: 1px solid rgba(255, 255, 255, .06);
	border-right: 1px solid rgba(255, 255, 255, .06);
}


/* PROFILE TAB RIGHT */

.container-3baos1 {
	border-right: 1px solid rgba(255, 255, 255, .06);
}


/* CHAT LEFT */

.chatContent-a9vAAp {
	border-left: 2px solid rgba(255, 255, 255, 0);
}


/*---------------------------------------- SERVER BAR BACKGROUND ----------------------------------------*/

.scroller-2TZvBN {
	background-color: rgba(255, 255, 255, 0);
}


/*---------------------------------------- SCROLL BAR CHANGES ----------------------------------------*/

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
	border-color: rgba(32, 34, 37, 1);
	background-color: rgba(64, 68, 75, 1);
	box-shadow: 0px 0px 0px 10px rgba(32, 34, 37, 1) inset;
	border-radius: 10px;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	border-color: rgba(255, 255, 255, 0);
	background-color: rgba(64, 68, 75, 1);
	border-radius: 10px;
}

.theme-light .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
	border-color: rgba(32, 34, 37, 1);
	background-color: rgba(64, 68, 75, 1);
	box-shadow: 0px 0px 0px 10px rgba(32, 34, 37, 1) inset;
}

.theme-light .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
	border-color: rgba(255, 255, 255, 0);
	background-color: rgba(64, 68, 75, 1);
}


/*---------------------------------------- PROFILE TAB ----------------------------------------*/


/* SPOTIFY FIX */

.headerSpotify-zpWxgT {
	border-radius: 15px;
	background-color: rgba(79, 170, 101, .36);
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(0, 0, 0, .4);
	margin-bottom: 10px;
}


/* "PLAYING A GAME" FIX */

.headerPlaying-j0WQBV,
.headerStreaming-2FjmGz {
	background: rgba(79, 100, 170, .36);
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(0, 0, 0, .4);
	margin-bottom: 10px;
}

.userPopout-3XzG_A:background {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}


/* BACKGROUND */

.userPopout-3XzG_A {
	background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://cdn.discordapp.com/attachments/622572402605293573/633521771210997767/Archer.png");
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	background-position: center top;
	background-size: cover;
	background-color: #000000;
}


/* HEADER */

.theme-light .headerNormal-T_seeN,
.theme-dark .headerNormal-T_seeN {
	border-radius: 15px;
	background-color: rgba(40, 40, 40, .4);
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(0, 0, 0, .4);
}


/* BACKGROUND BORDER RADIUS */

.userPopout-3XzG_A {
	border-radius: 15px;
}


/* BODY */

.theme-dark .bodyInner-245q0L,
.theme-dark .footer-1fjuF6 {
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0);
}


/* MESSAGE BOX */

.theme-light .quickMessage-1yeL4E,
.theme-dark .quickMessage-1yeL4E {
	background-color: rgba(40, 40, 40, .4);
	border-radius: 15px;
	margin-top: 5px;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(0, 0, 0, .4);
}


/* BODY 2 */

.body-3iLsc4 {
	background-color: rgba(40, 40, 40, .4);
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(0, 0, 0, .4);
}


/* BORDER RADIUS FIX */

.popout-2iWAc- {
	border-radius: 15px;
}


/*---------------------------------------- CHAT MESSAGE BAR ----------------------------------------*/


/* BORDER RADIUS FIX */

.scrollableContainer-2NUZem {
	border-radius: 20px;
}


/* COLOR */

.inner-zqa7da {
	background-color: rgba(64, 68, 75, 1);
}


/*---------------------------------------- OTHER BACKGROUND FIXES / MINOR INDIVIDUAL FIXES ----------------------------------------*/


/* NITRO STORE PAGE */


/* MAIN */

.applicationStore-1pNvnv {
	background-color: rgba(0, 0, 0, 0);
}


/* SECONDARY */

.scroller-9moviB {
	background-color: rgba(0, 0, 0, 0);
}


/* NITRO AD BORDER RADIUS */

.theme-dark .tier1Banner-1B_WXY {
	border-radius: 15px;
}


/* GRADIANT REMOVAL ON GAME SCROLL */

.gradientOverlayRight-3vMuS8,
.gradientOverlayLeft-3w159C {
	left: -1000px
}


/* GAME SCROLL ARROW BACKGROUND FIXES */

.scrollerButton-1Vm5_P {
	background-color: rgba(64, 68, 75, 1);
}


/* FRIENDS TAB */

.theme-light .container-1D34oG,
.theme-dark .container-1D34oG {
	background-color: rgba(0, 0, 0, 0);
}


/*---------------------------------------- LIGHT (aka RETARDED) MODE COLOR FIXES ----------------------------------------*/


/* ACTIVITY TAB FIXES (BOTH LIGHT AND DARK) */

.theme-light .header-3uLGFv {
	color: #fff;
}

.theme-light .emptyCard-1AOHER {
	border-color: #00000000;
}

.theme-light .wrapper-3UweLa {
	background: #202225;
	color: #b9bbbe;
}

.theme-light .recentlyPlayedContainer-2F3MqS {
	background-color: #202225;
	border: 0px solid #e3e5e8;
}

.theme-dark .wrapper-Lii66c,
.theme-light .wrapper-Lii66c {
	background-color: #202225;
	border: 0px solid #e3e5e8;
}

.theme-light .card-3EIh8J {
	box-shadow: inset 0 0 0 0px #e3e5e8, 0 0 0 transparent
}

.theme-light .separator-2c4hi3,
.theme-dark .separator-2c4hi3 {
	background-color: #f7f7f78f;
}

.theme-dark .wrapper-9ppXpy,
.theme-light .wrapper-9ppXpy {
	box-shadow: inset 0 1px 0 #f7f7f78f;
}

.theme-light .card-3EIh8J:hover {
	background-color: #18191D;
}


/* LINKS */

.markup-2BOw-j a {
	color: rgba(0, 176, 244, 1);
}


/*------------ PROFILE TAB ------------*/


/* BOTTOM WHITE BACKGROUND REMOVAL */

.theme-light .bodyInner-245q0L,
.theme-light .footer-1fjuF6 {
	background-color: rgba(0, 0, 0, 0);
}


/* BODY TEXT COLOR FIX */

.theme-light .bodyInner-245q0L,
.theme-light .footer-1fjuF6 {
	color: rgba(255, 255, 255, 0.8);
}


/* NAME COLOR */

.theme-light .headerNormal-T_seeN .headerName-fajvi9,
.theme-light .headerNormal-T_seeN .headerTagUsernameNoNickname-2_H881 {
	color: rgba(255, 255, 255, 1);
}


/*---------------------------------------- ROLES SELECTION POPUP BORDER RADIUS FIX ----------------------------------------*/

.theme-dark .container-VSDcQc .sectionTag-pXyto9 {
	border-radius: 15px;
}

.theme-dark .autocompleteArrow-Zxoy9H,
.theme-dark .autocompleteHeaderBackground-30T70q {
	border-radius: 15px;
}

.theme-light .container-VSDcQc .sectionTag-pXyto9 {
	border-radius: 15px;
}

.theme-light .autocompleteArrow-Zxoy9H,
.theme-light .autocompleteHeaderBackground-30T70q {
	border-radius: 15px;
}


/*---------------------------------------- ROLES SELECTION POPUP SHADOW FIX ----------------------------------------*/

.theme-dark .autocompleteArrow-Zxoy9H,
.theme-dark .autocompleteShadow-iiGWFU {
	-webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0), 0 0 0 1px rgba(32, 34, 37, 0);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0), 0 0 0 1px rgba(32, 34, 37, 0)
}

.theme-light .autocompleteArrow-Zxoy9H,
.theme-light .autocompleteShadow-iiGWFU {
	-webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0), 0 0 0 1px rgba(185, 187, 190, 0);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0), 0 0 0 1px rgba(185, 187, 190, 0)
}


/*---------------------------------------- DARK THEME PING BORDER RADIUS FIX ----------------------------------------*/

.theme-dark .wrapper-3WhCwL {
	border-radius: 4px;
}


/*---------------------------------------- BOLD FONT/MARKUP FIX ----------------------------------------*/

.markup-2BOw-j {
	color: #d5d5d5;
}


/*---------------------------------------- PPOFILE TAB POPUP TEXT COLOR CHANGES ----------------------------------------*/


/* SUB HEADER RECOLOR */

.bodyTitle-Y0qMQz {
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}


/* TEXTBOX TEXT COLOR CHANGE (MESSAGE) */

.theme-light .quickMessage-1yeL4E::-webkit-input-placeholder,
.theme-dark .quickMessage-1yeL4E::-webkit-input-placeholder {
	color: rgb(221, 221, 221);
}


/* TEXTBOX TEXT COLOR CHANGE (NOTE) */

.note-3kmerW textarea::-webkit-input-placeholder {
	color: rgb(221, 221, 221);
}


/* MAKE (NOTE) TRANSPARENT WHEN CLICKED */

.note-3kmerW textarea:focus::placeholder {
	color: transparent;
}


/* MAKE (MESSAGE) TRANSPARENT WHEN CLICKED */

.theme-light .quickMessage-1yeL4E:focus::placeholder,
.theme-dark .quickMessage-1yeL4E:focus::placeholder {
	color: rgba(255, 0, 0, 0);
}


/*---------------------------------------- PPOFILE TAB PADDING/MARGIN REMOVALS AND STUFF ----------------------------------------*/


/* REMOVE HELPFUL TIP */

.theme-dark .protip-YaFfgO {
	opacity: 0;
	height: 0px;
	width: 0px;
}


/* RANDOM PADDING? FORGOT ?-? */

.theme-dark .bodyInner-245q0L,
.theme-dark .footer-1fjuF6 {
	padding-top: 5px;
}


/* HEADER MARGIN */

.theme-light .headerNormal-T_seeN,
.theme-dark .headerNormal-T_seeN {
	margin-bottom: 10px;
}


/*---------------------------------------- MENU TAB BACKGROUND AND PADDING ----------------------------------------*/


/* BACKGROUND */

.contextMenu-HLZMGh {
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("https://cdn.discordapp.com/attachments/622572402605293573/633521771210997767/Archer.png");
	background-position: center top;
	background-size: cover;
}


/* BAN/KICK BUTTONS MARGIN IN BETWEEN */

.itemBase-tz5SeC.danger-2dXSTE:nth-child(1) {
	margin-bottom: 3px;
}


/* BAN/KICK BUTTONS NO HOVER */

.itemBase-tz5SeC.danger-2dXSTE:nth-child(1),
.itemBase-tz5SeC.danger-2dXSTE:nth-child(2) {
	background-color: rgba(64, 68, 75, 1);
	border: 2px solid rgba(13, 13, 15, .29);
	border-radius: 15px;
}


/* BAN/KICK BUTTONS HOVER */

.itemBase-tz5SeC.danger-2dXSTE:nth-child(1):hover,
.itemBase-tz5SeC.danger-2dXSTE:nth-child(2):hover {
	background-color: rgba(64, 68, 75, .5);
	border: 2px solid rgba(13, 13, 15, .20);
	border-radius: 15px;
}


/*---------------------------------------- ROLE GIVER TAB THINGY BORDER RADUS FIX ----------------------------------------*/

.theme-dark .row-rrHHJU.selected-1pIgLL {
	border-radius: 15px;
}


/*---------------------------------------- EMOJI BAR ----------------------------------------*/


/* MAIN BODY CHANGES */

.emojiPicker-3m1S-j,
.emojiPicker-3m1S-j {
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("https://cdn.discordapp.com/attachments/622572402605293573/633521771210997767/Archer.png");
	background-position: center top;
	background-size: cover;
	border-radius: 15px;
	margin-bottom: 13px;
}


/* "prefc, Today at 9:46 AM: Remove the cancerous new emoji bar:" */

.infoBar-U6oBFk {
	display: none;
}


/* TOP */

.emojiPicker-3m1S-j .header-1nkwgG {
	background-color: rgba(64, 68, 75, 1);
}


/* BOTTOM */

.emojiPicker-3m1S-j .categories-1feg4n,
.emojiPicker-3m1S-j .categories-1feg4n {
	background-color: rgba(64, 68, 75, 1);
}


/*---------- SCROLL BAR CHANGES ----------*/

.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track {
	border-color: rgba(255, 255, 255, 0);
	background-color: rgba(64, 68, 75, 1);
	border-radius: 0;
}

.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.theme-light .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
	border-color: rgba(255, 255, 255, 0);
	background-color: rgba(64, 68, 75, 1);
	border-radius: 0;
}

.scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
	border-color: rgba(32, 34, 37, 1);
	background-color: rgba(64, 68, 75, 1);
	box-shadow: 0px 0px 0px 10px rgba(32, 34, 37, 1) inset;
	border-radius: 0;
}

.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
	border-color: rgba(32, 34, 37, 1);
	background-color: rgba(64, 68, 75, 1);
	box-shadow: 0px 0px 0px 10px rgba(32, 34, 37, 1) inset;
	border-radius: 0;
}


/* SCROLLBAR BAR THING WIDER */

.scroller-2FKFPG::-webkit-scrollbar-thumb,
.scroller-2FKFPG::-webkit-scrollbar-track {
	border-style: none;
}


/* not the emoji tab, but emoji bar */

.emojiButton-jE9tXC {
	display: none;
	border-left: 0px;
}

.separator-42rNt0 {
	width: 0px;
}


/*---------------------------------------- BOTTOM LEFT VOICE AND PROFILE PANELS TRANCPERENCY FIX ----------------------------------------*/

.panels-j1Uci_ {
	background-color: rgba(0, 0, 0, 0);
}


/*break*/


/* 
 * Yes, this codebase is near unreadable. Why?
 * I designed this mainly as a test to see how viable avoidance of straight out class selectors would be.
 * The codebase was never designed to be pretty, it was designed to require as little maintenance as possible.
 */

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css');
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/* Root Variables */

 :root {
	--font-primary: 'Karla', sans-serif;
	--font-display: var(--font-primary) !important;
	/* Dark Matter Variables */
	--avatar-size: 32px;
	--background-image: url('https://i.imgur.com/7SbtKvw.png');
	--home-image: url('https://i.imgur.com/233d55Y.gif');
	--background-solid: #161921;
	--background-solid-dark: #101218;
	--background-solid-darker: #0c0e12;
	--accent: 37, 172, 232;
	--accent-alt: 29, 101, 134;
	--black: 0, 0, 0;
	--white: 255, 255, 255;
	/* BlurpleRecolor */
	--accentcolor: var(--accent);
	--vaccentcolor-hover: rgb(var(--accent));
	--vaccentcolor-active: rgb(var(--accent));
}


/* Guilds */

.wrapper-25eVIn {
	zoom: .83334;
}

svg[class^="placeholderMask-"] {
	width: 40px;
	height: 40px;
}

div[data-list-item-id="guildsnav___home"] {
	background: var(--home-image) top center/110% no-repeat;
}

#app-mount [data-list-item-id="guildsnav___home"]>div {
	color: transparent;
	background-color: transparent;
}

.item-2hkk8m {
	background: rgb(255, 255, 255) !important;
}

.item-2hkk8m {
	margin-left: 6px;
	border-radius: 50px;
	width: 8px !important;
	background: var(--main-colore);
	box-shadow: 0 0 10px #37ceff;
	margin-bottom: 5px;
}

.container-1r6BKw {
	border-bottom: 1px solid #def7ff !important;
	border-image: linear-gradient( 90deg, rgb(0, 0, 0, 0), rgb(222, 247, 255, 0.5), rgb(222, 247, 255), rgb(222, 247, 255), rgb(222, 247, 255), rgb(222, 247, 255), rgb(222, 247, 255)) 1;
	background-image: linear-gradient(to right, red, yellow);
	box-shadow: 140px 8px 30px -6px #37ceff;
}

.scrollableContainer-2NUZem {
	border: 1px solid rgb(100, 200, 255) !important;
}

.scrollableContainer-2NUZem {
	border-radius: 20px;
}

.scrollableContainer-2NUZem {
	background-color: rgba(0, 0, 0, .4);
	border: 1px solid rgba(0, 0, 0, .4)
}

.wrapperSimple-19ogV2,
.wrapper-25eVIn {
	filter: drop-shadow(0 0 1px cyan);
}


/* chat */

.embed-IeVjo6 {
	border-left: 4px solid var(--accent-color) !important;
}

.reaction-1hd86g.reactionMe-wv5HKu {
	border-color: rgb(100, 200, 255);
	background-color: var(--background-primary);
}

.reaction-1hd86g.reactionMe-wv5HKu::after {
	content: "";
	position: absolute;
	width: 110%;
	height: 110%;
	left: -5%;
	top: -5%;
	background-image: var(--backgroundImage);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: .65;
	filter: blur(var(--backgroundBlur));
	z-index: 0
}


/* channel list */

.sidebar-2K8pFh {
	border-radius: 10px;
}

.wrapper-2jXpOf {
	margin-right: 10px;
}

.containerDefault-3tr_sE {
	padding: 10px 2px 0 10px;
}

.header-2V-4Sw {
	border-radius: 0 0 10px 10px;
}

.modeSelected-346R90 .name-23GUGE,
.modeSelected-346R90 .content-1x5b-n:hover .name-23GUGE,
.modeSelected-346R90 .actionIcon-PgcMM2 {
	color: var(--interactive-selected);
}

.animatedContainer-1NSq4T {
	z-index: 2;
}

.embedFull-2tM8--,
.wrapper-35wsBm {
	border: 1px solid rgb(100, 200, 255);
}

.attachment-33OFj0,
.embedFull-2tM8--,
.wrapper-35wsBm {
	background: rgba(0, 0, 0, .65);
	position: relative;
	overflow: hidden
}

:root {
	--themeColor1: #36D1DC;
	--themeColor2: #5B86E5;
	--customFont: 'Roboto', sans-serif;
	--font-display: var(--customFont);
	--backgroundColor: #0d0d0d;
	--backgroundImage: url('https://limeshark.dev/img/bdi/n8b.jpg');
	--backgroundPosition: center;
	--backgroundSize: cover;
	--backgroundRepeat: no-repeat;
	--backgroundBlur: 100px;
	--backgroundOpacity: .65;
	--backgroundCode: rgba(0, 0, 0, .5);
	--backgroundName: rgba(0, 0, 0, .5);
}

.attachment-33OFj0::after,
.embedFull-2tM8--::after,
.wrapper-35wsBm::after {
	content: "";
	position: absolute;
	width: 110%;
	height: 110%;
	left: -5%;
	top: -5%;
	background-image: var(--backgroundImage);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	opacity: .65;
	filter: blur(var(--backgroundBlur));
	z-index: 0
}


/*Theia Break*/

:root {
	--themeColor1: #36D1DC;
	--themeColor2: #5B86E5;
	--customFont: 'Roboto', sans-serif;
	--font-display: var(--customFont);
	--backgroundColor: #0d0d0d;
	--backgroundImage: url('https://limeshark.dev/img/bdi/n8b.jpg');
	--backgroundPosition: center;
	--backgroundSize: cover;
	--backgroundRepeat: no-repeat;
	--backgroundBlur: 100px;
	--backgroundOpacity: .65;
	--backgroundCode: rgba(0, 0, 0, .5);
	--backgroundName: rgba(0, 0, 0, .5);
}

 :root {
	--rgb: 23, 100, 130;
	/* Main color */
	--main-black: ;
	--secondary-black: #111411;
	--third-black: ;
	--fourth-black: ;
}

:root {
	/* COLORS */
	--themeColor1: #333333;
	/* Theme's color 1 */
	--themeColor2: #333333;
	/* Theme's color 2 */
	/* CUSTOM FONT */
	--customFont: 'Open sans', sans-serif;
	/* Custom font, change the name in 'font name here', you must import the font first */
	--customFont1: 'Molot', sans-serif;
}

:root {
	--minr: #0a0a0a;
	--scnr: #1F1F1F;
	--acnr: #FF0000;
	--txnr: #37CEFF;
	--tmnr: #BBBBBB;
	--acnr: #FF0000!important
}

@keyframes borderrgb {
	0% {
		border-color: rgb(255, 0, 0);
	}
	6% {
		border-color: rgb(255, 85, 0);
	}
	12% {
		border-color: rgb(255, 170, 0);
	}
	18% {
		border-color: rgb(255, 255, 0);
	}
	24% {
		border-color: rgb(170, 255, 0);
	}
	30% {
		border-color: rgb(85, 255, 0);
	}
	36% {
		border-color: rgb(0, 255, 0);
	}
	42% {
		border-color: rgb(0, 255, 85);
	}
	48% {
		border-color: rgb(0, 255, 170);
	}
	54% {
		border-color: rgb(0, 255, 255);
	}
	60% {
		border-color: rgb(0, 170, 255);
	}
	65% {
		border-color: rgb(0, 85, 255);
	}
	70% {
		border-color: rgb(0, 0, 255);
	}
	75% {
		border-color: rgb(85, 0, 255);
	}
	80% {
		border-color: rgb(170, 0, 255);
	}
	85% {
		border-color: rgb(255, 0, 255);
	}
	89% {
		border-color: rgb(255, 0, 170);
	}
	94% {
		border-color: rgb(255, 0, 85);
	}
}


/*Oblivion Break*/

.contentColumn-2hrIYH,
.customColumn-Rb6toI {
	max-width: 95% !important
}

#bd-settings-sidebar .ui-tab-bar-item,
.side-8zPYf6 .item-PXvHYJ {
	transition: all .2s ease
}

#bd-settings-sidebar .ui-tab-bar-item:hover,
.side-8zPYf6 .item-PXvHYJ:hover {
	background-color: rgba(0, 0, 0, .65) !important;
	position: relative;
	padding-left: 40px
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218)"] {
	color: var(--interactive-normal) !important
}

div[aria-label=GUILD_SETTINGS] #bd-settings-sidebar .ui-tab-bar-item:hover,
div[aria-label=GUILD_SETTINGS] .side-8zPYf6 .item-PXvHYJ:hover {
	padding-left: 15px
}

#bd-settings-sidebar .ui-tab-bar-item.selected,
.side-8zPYf6 .item-PXvHYJ[style*="background-color: rgb(114, 137, 218)"],
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	background-color: rgba(0, 0, 0, .65) !important;
	padding-left: 40px;
	color: #fff !important
}

.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	background-color: rgba(0, 0, 0, .65) !important;
	padding-left: 15px
}

div[aria-label=GUILD_SETTINGS] #bd-settings-sidebar .ui-tab-bar-item.selected,
div[aria-label=GUILD_SETTINGS] .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
div[aria-label=GUILD_SETTINGS] .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	padding-left: 25px
}

#bd-settings-sidebar .ui-tab-bar-item.selected::after,
.side-8zPYf6 .item-PXvHYJ[style*="background-color: rgb(114, 137, 218)"]::after,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ::after,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 5px;
	border-radius: 4px 0 0 4px;
	background: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	z-index: 1
}

#bd-settings-sidebar .ui-tab-bar-header,
.side-8zPYf6 .header-2RyJ0Y {
	position: relative;
	z-index: 2;
	padding: 19px 8px 2px 16px;
	margin-bottom: 5px;
	text-align: center;
	letter-spacing: 1px;
	color: #e6e6e6 !important;
	border-bottom-width: 2px;
	border-style: solid;
	border-image: linear-gradient(to right, transparent, var(--themeColor1), var(--themeColor2), transparent) 1
}

#bd-settings-sidebar .ui-tab-bar-header::after,
#bd-settings-sidebar .ui-tab-bar-header::before,
.side-8zPYf6 .header-2RyJ0Y::after,
.side-8zPYf6 .header-2RyJ0Y::before {
	content: "";
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	background-color: transparent;
	z-index: -1
}

#bd-settings-sidebar .ui-tab-bar-header {
	display: block
}

#bd-settings-sidebar .ui-tab-bar-header .bd-changelog-button {
	position: absolute;
	bottom: 2px;
	right: 0
}

.side-8zPYf6 .header-2RyJ0Y:first-child {
	padding-top: 19px
}

.sidebar-CFHs9e {
	padding-top: 41px
}

#bd-settings-sidebar .ui-tab-bar-header::before,
.side-8zPYf6 .header-2RyJ0Y::before {
	left: 0;
	box-shadow: 80px 50px 30px 0 var(--themeColor2)
}

#bd-settings-sidebar .ui-tab-bar-header::after,
.side-8zPYf6 .header-2RyJ0Y::after {
	right: 0;
	box-shadow: -80px 50px 30px 0 var(--themeColor1)
}

.detailsBlock-FoDTGA,
.table-39R0Oe,
.cardWrapper-2Min21,
.feature-2w65J5,
.accountList-33MS45,
.background-1QDuV2,
.bottomDivider-1K9Gao,
.card-FDVird:before,
.cardPrimary-1Hv-to,
.cardPrimaryEditable-3KtE4g,
.cardPrimaryOutline-29Ujqw,
.codeRedemptionRedirect-1wVR4b,
.connection-1fbD7X,
.container-1nZlH6,
.css-13kbzi0-control,
.css-15ejc46-control,
.css-181m2lf-menu,
.css-1yegjoj-control,
.css-2yldzf-control,
.item-26Dhrx,
.css-2yldzf-control:hover,
.paginator-166-09,
.paymentPane-3bwJ6A {
	background-color: rgba(0, 0, 0, .35) !important;
	border: none
}

.bd-addon-list .bd-addon-header,
.bd-addon-list .bd-addon-card {
	background-color: rgba(0, 0, 0, .5) !important;
}

.phoneField-38N1bJ .inputField-aNPXsv {
	background: 0 0
}

.connectionHeader-2MDqhu,
.expandedInfo-3kfShd,
.fieldList-21DyL8,
.integration-3kMeY4,
.pageButtonNext-V2kUq0,
.pageButtonPrev-1Y-47D,
.pageIndicator-1gAbyA,
.phoneField-38N1bJ {
	background-color: rgba(0, 0, 0, .5) !important;
	border-color: rgba(0, 0, 0, .5) !important
}


/*Cataclyst Break*/

.newMessagesBar-265mhP {
	background-color: rgb(0, 0, 0, .5);
}


/*Helios Break*/

.iconBadge-2wi9r4.participating-NBGDkr {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	animation-name: pulseVoiceChat;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite
}

@keyframes pulseVoiceChat {
	0% {
		box-shadow: 0 0 0 0 var(--themeColor1)
	}
	50% {
		box-shadow: 0 0 10px 0 var(--themeColor1)
	}
	100% {
		box-shadow: 0 0 0 0 var(--themeColor1)
	}
}

.selected-aXhQR6 .layout-2DM8Md::before {
	content: "";
	position: absolute;
	left: -1px;
	top: 0;
	height: 100%;
	width: 20px;
	border-radius: 4px 0 0 4px;
	background: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	-webkit-mask: linear-gradient(to right, #000, Transparent);
	opacity: .6;
	z-index: 0
}

.selected-aXhQR6 .layout-2DM8Md::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 5px;
	border-radius: 4px 0 0 4px;
	background: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	z-index: 1
}

.containerDefault--pIXnN.selected-37j_iU .modeSelected-346R90 .content-1x5b-n::before,
.modeSelected-346R90 .content-1x5b-n::before,
.modeSelected-346R90:hover .content-1x5b-n::before {
	content: "";
	position: absolute;
	left: -1px;
	top: 0;
	height: 100%;
	width: 20px;
	border-radius: 4px 0 0 4px;
	background: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	-webkit-mask: linear-gradient(to right, #000, Transparent);
	opacity: .6;
	z-index: 0
}

.modeSelected-346R90 .content-1x5b-n::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 5px;
	border-radius: 4px 0 0 4px;
	background: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	z-index: 1
}

.liveBadge-yuNuMC {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	animation-name: pulseVoiceChat;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite
}

.typeWindows-1za-n7::after {
	content: "";
	position: absolute;
	top: -14px;
	left: 0;
	width: 100%;
	height: 25px;
	background: radial-gradient(var(--themeColor1), var(--themeColor2), transparent 70%);
	opacity: .1
}

.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before {
	background-image: linear-gradient(to top right, var(--themeColor1), var(--themeColor2))
}

.membersGroup-v9BXpm {
	position: relative;
	z-index: 2;
	padding: 19px 8px 5px 16px;
	text-align: center;
	letter-spacing: 1px;
	color: #e6e6e6;
	border-bottom-width: 2px;
	border-style: solid;
	border-image: linear-gradient(to right, transparent, var(--themeColor1), var(--themeColor2), transparent) 1
}

.bodyTitle-Y0qMQz::before {
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	top: calc(50% - 1px);
	background-image: linear-gradient(to right, transparent, var(--themeColor1), var(--themeColor2), transparent);
	z-index: -1
}

.row-rrHHJU.selected-1pIgLL {
	background-image: linear-gradient(90deg, var(--themeColor2) -90%, var(--backgroundColor)) !important
}

.bd-addon-list .bd-card-footer button,
.bd-button,
.bd-modal-wrapper .footer button,
.bd-pfbtn,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookGhost-2Fn_0-.colorBrand-3pXr91,
.lookGhost-2Fn_0-.colorGrey-2DXtkV,
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	border: none;
	color: #fff
}

.lookInverted-2D7oAl .contents-18-Yxp {
	background: -webkit-linear-gradient(var(--themeColor1), var(--themeColor2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

.button-1MICoQ {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	border: none
}


#bd-settings-sidebar .ui-tab-bar-item.selected::after,
.side-8zPYf6 .item-PXvHYJ[style*="background-color: rgb(114, 137, 218)"]::after,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ::after,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 5px;
	border-radius: 4px 0 0 4px;
	background: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	z-index: 1
}

#bd-settings-sidebar .ui-tab-bar-header,
.side-8zPYf6 .header-2RyJ0Y {
	position: relative;
	z-index: 2;
	padding: 19px 8px 2px 16px;
	margin-bottom: 5px;
	text-align: center;
	letter-spacing: 1px;
	color: #e6e6e6 !important;
	border-bottom-width: 2px;
	border-style: solid;
	border-image: linear-gradient(to right, transparent, var(--themeColor1), var(--themeColor2), transparent) 1
}

.container-3auIfb[style*="rgb(59, 165, 92)"] {
	background-image: linear-gradient(to top right, var(--themeColor1), var(--themeColor2)) !important
}


.checkboxWrapper-SkhIWG .checkbox-1ix_J3.checked-3_4uQ9 {
	background-color: var(--themeColor1) !important;
	background-image: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	border: 1px solid rgba(0, 0, 0, .5) !important
}

.item-26Dhrx[style*="rgb(114, 137, 218)"] {
	background-color: var(--themeColor1) !important;
	background-image: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	border: 1px solid rgba(0, 0, 0, .5) !important
}

.barFill-23-gu- {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to right, var(--themeColor1), var(--themeColor2))
}

.premiumIndicator-1XvbfM {
	background-color: var(--backgroundColor) !important;
	background-image: linear-gradient(to right, var(--themeColor1), var(--themeColor2));
	padding: 5px 10px
}

.button-2CgfFz {
	background-color: var(--backgroundColor) !important;
	box-shadow: 0 0 0 1px var(--themeColor1), 0 1px 5px 0 var(--themeColor2) !important
}


.bd-switch input:checked+.bd-switch-body,
.themeDefault-24hCdX.valueChecked-m-4IJZ {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
}

.bda-name {
	text-transform: uppercase;
	background: -webkit-linear-gradient(80deg, var(--themeColor1), var(--themeColor2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent
}

.jumpButton-3DTcS_ {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2))
}

.categoryItemDefaultCategorySelected-_HCKoz,
.categoryItemDefaultCategorySelected-_HCKoz:hover,
.emojiItem-14v6tW.emojiItemSelected-1aLkfV,
.navButtonActive-1MkytQ {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2))
}

.mentioned-xhSam7::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--themeColor1);
	background-image: linear-gradient(to bottom right, var(--themeColor1), var(--themeColor2));
	z-index: -1;
	opacity: .15
}

.mentioned-xhSam7:before {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to right, var(--themeColor1), var(--themeColor2))
}

.tabBar-ZmDY9v .item-3HknzM[style*="rgb(67, 181, 129)"] {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to right, var(--themeColor1), var(--themeColor2));
	color: #fff !important
}

.keybindShortcut-1BD6Z1 span {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to right, var(--themeColor1), var(--themeColor2));
	border: 1px solid rgba(0, 0, 0, .5) !important
}

.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after,
.calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover,
.calendarPicker-2yf6Ci .react-datepicker__day:hover,
.datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
	background-color: var(--themeColor1);
	background-image: linear-gradient(to right, var(--themeColor1), var(--themeColor2))
}

.categoryFadeBlurple-1j72_A {
	background-color: var(--themeColor1);
	background: linear-gradient(to right, var(--themeColor1), var(--themeColor2)) !important
}

.focused-1En8bG:after,
.result-3w1ZcL:hover:after {
	box-shadow: inset 0 0 0 2px var(--themeColor1), inset 0 0 0 3px var(--backgroundColor) !important
}

.bf-toolbar .format:hover {
	background: linear-gradient(to right, var(--themeColor1), var(--themeColor2)) !important;
	color: #fff !important
}

/*Antares Break*/

.circleIcon-2_77lA {
	color: #333333
}

/*Pleiades (NO LONGER IN USE)*/

/*Hyperion Break*/

.fullscreen-bg video,
.fullscreen-bg-video {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -100;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
}
